.homepage{
    padding: 120px;
}
.products, .categories{
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-auto-flow: row;
    justify-content: space-between;
    /* gap: 50px; */
}