.homepage{
    padding: 120px;
}
.products{
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-auto-flow: row;
    justify-content: space-between;
    gap: 50px 0;
    user-select: none;
}
.categories{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    user-select: none;
}