.definition{
    height: 100vh;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.definition h1, .definition p, .benefit h1, .benefit h3, .benefit p{
    color: var(--text-primary);
}
.definition h1{
    font-size: 64px;
    font-weight: bold;
    text-box: trim-both cap alphabetic;
}
.definition p{
    font-size: 18px;
    width: 480px;
    margin: 35px 0 50px;
}
.definition a{
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 16px;
    width: 300px;
    padding: 10px 20px;
    font-weight: 500;
}
.shapeBg{
    position: absolute;
    width:700px; /*on laptop*/
    top: -10px;
    right: 0;
    z-index: -2;
}
.barterIll{
    position: absolute;
    width: 30%; /*on laptop*/
    top: 20%; /*on laptop 25%*/
    right: 5%;
    z-index: -1;
}
/* benefit section */
.benefit{
    height: 60vh;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.benefit h1{
    font-size: 50px;
}
.bens{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.ben-info{
    width: 320px;
    text-align: center;
}
/* how section */
.how-head{
    font-size: 50px;
    color: var(--text-primary);
    background-color: rgba(141, 161, 114, 0.5);
    padding: 80px;
    text-align: center;
}
.how{
    padding: 50px 240px;
    position: relative;
}
.how h2, .how p{
    color: var(--text-primary);
    width: 280px;
    margin: 10px 0;
}
.step1, .step2, .step3{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 100px 0;
    position: relative;
}
.step2{
    justify-self: end;
    gap: 0px;
}
.step4{
    position: relative;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}
.step4 h2{
    margin: 0;
    text-align: center;
}
.bgPath2{
    position: absolute;
    z-index: -1;
    bottom: -100px;
    left: -10px;
}
.arrow1{
    position: absolute;
    right: 25%; /*old 20%*/
    top: 40%;
    width: 525px;
}
.arrow2{
    position: absolute;
    left: -140%; /*old -130%*/
    top: 60%; /*old 70%*/
    width: 525px;
}
.arrow3{
    position: absolute;
    width: 525px;
    right: 35%;
    top: 150%; /*old 125%*/
}