.search-page{
    padding: 150px;
}
.search-page .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    position: relative;
}
.search-page .title h1{
    font-size: 36px;
    font-weight: 600;
}
.filter{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.filter h3{
    font-size: 32px;
    font-weight: 600;
}
.search-result{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 240px);
    justify-content: space-between;
}