.search-page{
    padding: 120px;
    max-height: 1300px;
    min-height: 750px;
    position: relative;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    position: relative;
}
.search-page .title h1{
    font-size: 36px;
    font-weight: 600;
}
.filter{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.filter h3{
    font-size: 32px;
    font-weight: 600;
}
.search-result{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 240px);
    justify-content: space-between;
}
.navigator{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    gap: 20px;
    padding-bottom: 30px;
}
.prev-page, .next-page, .current-page{
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}
.current-page{
    font-size: 36px;
}