.trade-page{
    padding: 120px;
}
.trade-page-content{
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: space-between;
}
.trade-navi{
    padding: 20px 0;
}
.trade-navi p{
    margin: 15px 0;
    cursor: pointer;
}
