.upload{
    padding: 110px 150px;
    height: 100vh;
}
.upload h1, .upload h3{
    color: var(--text-primary);
    font-weight: 600;
}
.upload h3{
    font-size: 24px;
}
.item-inputs{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 450px; /*could change back to 1fr 450px*/
}
.choose-file{
    user-select: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--white);
    font-weight:600;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    margin: 20px 0;
    display: block;
    width: 150px;
    text-align: center;
}
input[type='file']{
    display: none;
}
.upload img{
    margin: 10px 0;
    width: 150px;
    height: 150px;
    border: 2px solid rgba(163, 68, 7, 0.1);
    border-radius: 20px;
}
.item-images .images{
    display: flex;
    gap: 10px;
}
.item-infos{
    display: flex;
    flex-direction: column;
}
.item-infos span{
    margin-bottom: 12px;
    display: block;
}
.item-infos span label{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
}
/* input with styles lmao */
.item-infos input, .item-infos textarea{
    background-color: var(--darken-background);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: end;
    font-weight: bold;
    font-size: 14px;
    resize: none;
}
.item-infos textarea{
    height: 95px;
    padding-top: 30px;
    text-align: start;
}
.item-infos input:focus, .item-infos textarea:focus{
    text-align: start;
}
.item-infos input::placeholder{
    text-align: start;
    font-weight:400;
}
.item-infos input:focus + label{
    display: none;
}
.item-infos input:focus::placeholder{
    color: transparent;
}
#submit-btn{
    display: block;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 300px;
    align-self: center;
}
#condition, #ogPrice{
    padding-right: 25px;
}