.chat {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 25px;
    width: 430px;
    height: 500px;
    position: absolute;
    top: 90px;
    right: 220px;
    background-color: white;
    opacity: 0;
    transition: top 500ms, opacity 500ms;
    pointer-events: none;
    z-index: 1;
}
.chat-active{
    top: 110px;
    right: 220px;
    opacity: 1;
    pointer-events: auto;
}

.chat span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat span img {
    width: 20px;
}

.chat-list {
    height: 325px;
    overflow-y: scroll;
}

#chat-search {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.chat-tile {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 10px 0;
}

.chat-info {
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(163, 68, 7, 0.45);
}

.chat-info span {
    display: flex;
    justify-content: space-between;
}

.chat-input {
    padding: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;

}

#msg-image, .chat-send {
    width: 25px;
}

.chat-input input {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    padding: 5px 10px;
    font-size: 12px;
    width: 100%;
}
.chat-img-preview{
    position: absolute;
    top: 0;
    width: 100px;
}