footer{
    padding: 10px 0;
    background-color: var(--darken-background);
}
.top .logo-desc h1{
    text-box: trim-both cap text;
}
.top{
    padding: 50px 150px 100px;
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap: 0 100px;
    list-style: none;
}
.top h4{
    color: var(--text-primary);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    user-select: none;
}
.top img{
    margin: 0;
    width: 38px;
}
.top a{
    font-weight: 300;
    line-height: 40px;
    color: var(--text-secondary);
    user-select: none;
}
.top svg{
    
}
.logo-desc a{
    line-height: 0;
}
a{
    text-decoration: none;
}
.lang-dropdown{
    position: absolute;
    right: 40px;
    top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: top 500ms, opacity 500ms, pointer-events 500ms;
    background-color: var(--darken-background);
}
.lang-dropdown li{
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
.lang-dropdown li:hover{
    background-color:gainsboro;
}
.lang-dropdown-active{
    opacity: 1;
    pointer-events: all;
    top: 40px;
}