header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}
header button{
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}
.signup{
    color: var(--white);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    margin-right: 25px;
}
.login{
    color: var(--secondary);
    background-color: var(--white);
    border: 1px solid var(--secondary)
}