header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    z-index: 1;
}

header .auth {
    border-radius: 5px;
    padding: 1px 15px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

header #search {
    background-color: transparent;
    border-radius: 25px 0 0 25px;
    border: 2px solid var(--text-secondary);
    border-right: 1px solid;
    padding: 7px 15px;
    /* text-indent: 10px; */
    outline: none;
    width: 540px;
    background-color: white;
}

header #search-btn {
    border-radius: 0 25px 25px 0;
    padding: 7px 15px;
    border: 2px solid var(--text-secondary);
    border-left: none;
    cursor: pointer;
}

.right-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#trade {
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    max-width: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#chat {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.signup {
    color: var(--white);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    /* margin-right: 20px; */
}

.login {
    color: var(--secondary);
    background-color: var(--white);
    border: 1px solid var(--secondary);
}